:root {
  --site-header-height: 56px;
  --font-color: #bababa;
  --bg-color0: #262421;
  --bg-color1: #2e2a24;
  --bg-color2: #302e2c;
  --base-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --green-hover: #89b25b;
  --blue-hover: #1b78d0;
  --border-color: #d9d9d9;
  --good: #629924;
  --bad: #c33;
}
body {
  background-color: var(--bg-color0);
  color: var(--font-color);
  font: 16px 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
}
main {
  max-width: 900px;
  margin: auto;
}
a, a:visited {
  color: #bababa;
}
form {
  margin: 0;
}
span.wrapper {
  white-space: nowrap;
}
.top-controls {
  height: var(--site-header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.replay {
  margin: 1em 0 0 0;
}
.replay button {
  font-size: 1em;
  padding: .3em .7em;
  margin-right: 1em;
}
.replay button:disabled, .puzzle-review button:disabled {
  opacity: .5;
}
.replay button.variation {
  border-color: var(--bad);
}
button {
  background: hsla(0, 0%, 90%, 0.1);
  color: #bababa;
  border-radius: 5px;
  cursor: pointer;
}
.puzzle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'pocket-top ui' 'board ui' 'pocket-bot ui';
  grid-gap: 1vmin;
}
selection {
  grid-area: board;
}
.pocket-top {
  grid-area: pocket-top;
}
.pocket-bot {
  grid-area: pocket-bot;
}
.puzzle-ui {
  grid-area: ui;
  margin-left: 1.5em;
  padding: 1em 2em;
  background-color: var(--bg-color1);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.puzzle-review {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1em;
}
.puzzle-review button {
  background: none;
  border: none;
  flex: 1 1 50%;
  padding: 1em;
  outline: none !important;
}
.puzzle-review button:hover {
  background: hsla(0, 0%, 90%, 0.1);
}
button strong {
  font-size: 6em;
  display: block;
  line-height: .9em;
}
.reject {
  color: var(--bad);
}
.reject.active {
  background: var(--bad);
  color: #fff;
}
.approve {
  color: var(--good);
}
.approve.active {
  background: var(--good);
  color: #fff;
}
.append {
  color: var(--blue-hover);
}

.puzzle-skip {
  text-align: center;
}
.puzzle-skip button {
  padding: .3em 1em;
}

button#btn-logout:hover {
  background-color: #c33;
}

button.back {
  display: flex;
}
#username,
.login {
  line-height: var(--site-header-height);
  font-size: 17px;
}

san.done, uci.done {
  color: hsl(88, 62%, 37%);
  opacity: 1;
}
san, uci {
  margin: 0 .3ch;
  opacity: .3;
  font-weight: bold;
  display: inline-block;
}